<!DOCTYPE html>

<head>
    <title>
        Form Creation | Creation
    </title>
</head>

<h3> ProdList</h3>

<form>
    <h1> Create for forms</h1>
    <button><a href="http://localhost:1234">Go Back</a> </button> <br>
    <br>
    <table>
        <tr>
            Product Name: <input type="text" placeholder="enter product name">
        </tr>
        <tr>
            Image URL: <input type="text" placeholder="enter ImageURL">
        </tr>
        <tr>
            Desc: <input type="textarea" width="100px" length="50px" placeholder="enter Desc">
        </tr>
        <button>Submit Button</button>
    </table>
    <br>
</form>

</body>

</html>